*{
    box-sizing: border-box;
}
.header{
background-color: red;
}
.asideFirst{
    background-color: green;
}
.section{
    background-color: lightblue;
}
.asideSecond{
    background-color: pink;
}
.footer{
    background-color: purple;
}